{% load menu_tags %}

<!DOCTYPE html>
<html>

<body>
    <nav>
        <ul>
            {% draw_menu 'menu_name' as menu_items %}
            {% for item in menu_items %}
            <li{% if item.is_active %} class="active" {% endif %}>
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% if item.has_children %}
                <ul>
                    {% for child in item.children %}
                    <li{% if child.is_active %} class="active" {% endif %}>
                        <a href="{{ child.url }}">{{ child.name }}</a>
                        </li>
                        {% endfor %}
                </ul>
                {% endif %}
                </li>
                {% endfor %}
        </ul>
    </nav>
</body>

</html>